videos/
src/legacy/
images/
assets/
data/
checkpoints/sb3_checkpoints/sb3_default_carracing-v3/
checkpoints/sb3_checkpoints/sb3_test_carracing-v3/
checkpoints/sb3_checkpoints/sb3_test_carracing-v3_best/
checkpoints/sb3_checkpoints/sb3_test_carracing-v3_final.zip
# checkpoints are available via bindmounts, so we can ignore the entire directory
checkpoints/
