# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data and model files
data/
datasets/
*.h5
*.hdf5
*.ckpt
*.pth
*.pt
*.zip
*.joblib
*.pkl
*.npz
*.npy

# Logs and outputs
logs/
*.log
*.out

# OS files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/

# Checkpoints
checkpoints/sb3_checkpoints/sb3_test_carracing-v3
checkpoints/sb3_checkpoints/sb3_test_carracing-v3_best
checkpoints/sb3_checkpoints/sb3_test_carracing-v3_final.zip
openevolve/
checkpoints/imported/
assets/

mlruns/